<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123425045601-uc71b312q12nkonq2sctbbevdi5ist8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123425045601-uc71b312q12nkonq2sctbbevdi5ist8j</string>
	<key>API_KEY</key>
	<string>AIzaSyCe_snvEkUx7Yz93RYFaSI1C9mZZqy0gJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>123425045601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Moskwinow.app.AMAApp</string>
	<key>PROJECT_ID</key>
	<string>amaapp-9f55f</string>
	<key>STORAGE_BUCKET</key>
	<string>amaapp-9f55f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123425045601:ios:41dfcbbbbdf169b0f27e20</string>
</dict>
</plist>